## Homework

> Note: sometimes your answer doesn't match one of the options exactly.
> That's fine.
> Select the option that's closest to your solution.
> If it's exactly in between two options, select the higher value.

### Dataset

In this homework, we will use the lead scoring dataset Bank Marketing dataset. Download it from [here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv).

Or you can do it with `wget`:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
```

In this dataset our desired target for classification task will be `converted` variable - has the client signed up to the platform or not.

### Data preparation

* Check if the missing values are presented in the features.
* If there are missing values:
    * For categorical features, replace them with 'NA'
    * For numerical features, replace with with 0.0

In [19]:
import pandas as pd
import numpy as np
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
df =pd.read_csv('course_lead_scoring.csv')

--2025-11-26 16:30:37--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8002::154, 2606:50c0:8000::154, 2606:50c0:8001::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8002::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: ‘course_lead_scoring.csv.1’

course_lead_scoring 100%[===================>]  78.98K  --.-KB/s    in 0.01s

2025-11-26 16:30:37 (6.36 MB/s) - ‘course_lead_scoring.csv.1’ saved [80876/80876]

In [20]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1


### Question 1

What is the most frequent observation (mode) for the column `industry`?

- `NA`
- `technology`
- `healthcare`
- `retail`

In [4]:
df.industry.mode()

0    retail
Name: industry, dtype: object

### Question 2

Create the [correlation matrix](https://www.google.com/search?q=correlation+matrix) for the numerical features of your dataset.
In a correlation matrix, you compute the correlation coefficient between every pair of features.

What are the two features that have the biggest correlation?

- `interaction_count` and `lead_score`
- `number_of_courses_viewed` and `lead_score`
- `number_of_courses_viewed` and `interaction_count`
- `annual_income` and `interaction_count`

Only consider the pairs above when answering this question.

In [5]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [7]:
num = ['number_of_courses_viewed','annual_income','interaction_count','lead_score' ]
df_num = df[num]

In [17]:
df_num

      number_of_courses_viewed  annual_income  interaction_count  lead_score
0                            1        79450.0                  4        0.94
1                            1        46992.0                  1        0.80
2                            5        78796.0                  3        0.69
3                            2        83843.0                  1        0.87
4                            3        85012.0                  3        0.62
...                        ...            ...                ...         ...
1457                         1            NaN                  4        0.53
1458                         3        65259.0                  2        0.24
1459                         1        45688.0                  3        0.02
1460                         5        71016.0                  0        0.25
1461                         3        92855.0                  3        0.41

[1462 rows x 4 columns]

In [21]:
df[num].corrwith(df['converted']).to_frame('coefficient').reset_index().sort_values('coefficient',ascending=False)

                      index  coefficient
0  number_of_courses_viewed     0.435914
2         interaction_count     0.374573
3                lead_score     0.193673
1             annual_income     0.078256

### Split the data

- Split your data in train/val/test sets with 60%/20%/20% distribution.
- Use Scikit-Learn for that (the `train_test_split` function) and set the seed to `42`.
- Make sure that the target value `converted` is not in your dataframe.

In [9]:
! pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in /home/nastavirs/ML-Zoomcamp/.myvenv/lib/python3.11/site-packages (from scikit-learn) (2.3.5)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.3-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 1.8 MB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (9.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.7/9.7 MB 42.1 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 308.4/308.4 kB 13.1 MB/s eta 0:00:00
Downloading scipy-1.16.3-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (35.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.9/35.9 MB 33.6 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.3 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [22]:
y = df['converted']
del df['converted']

In [39]:
from sklearn.model_selection import train_test_split
df_full_train, df_test, y_full_train, y_test = train_test_split(df, y, test_size=0.2, random_state=42)
df_train, df_val, y_train, y_val = train_test_split(df_full_train, y_full_train, test_size=0.25, random_state=42)

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

### Question 3

- Calculate the mutual information score between `converted` and other categorical variables in the dataset. Use the training set only.
- Round the scores to 2 decimals using `round(score, 2)`.

Which of these variables has the biggest mutual information score?

- `industry`
- `location`
- `lead_source`
- `employment_status`

In [24]:
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
print(categorical_cols)

Index(['lead_source', 'industry', 'employment_status', 'location'], dtype='object')

In [36]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
dtype: int64

In [37]:
df[categorical_cols] = df[categorical_cols].fillna('NA')
df[num] = df[num].fillna(0)

In [28]:
from sklearn.metrics import mutual_info_score

def mutual_info_churn_score(series):
    return mutual_info_score(series, y_train)

mi = df_train[categorical_cols].fillna('NA').apply(mutual_info_churn_score)
mi.sort_values(ascending=False)

lead_source          0.035396
employment_status    0.012938
industry             0.011575
location             0.004464
dtype: float64


### Question 4

- Now let's train a logistic regression.
- Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
- Fit the model on the training dataset.
  - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
  - `model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)`
- Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

What accuracy did you get?

- 0.64
- 0.74
- 0.84
- 0.94

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# 1. Identify categorical & numerical columns
cat_cols = ['lead_source', 'industry', 'employment_status', 'location']
num_cols = [
    'number_of_courses_viewed', 'annual_income', 
    'interaction_count', 'lead_score', 'converted'
]

# 2. Preprocessing: One-hot encode categorical features
preprocess = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), cat_cols)
    ],
    remainder='passthrough'   # keep numerical columns
)

# 3. Build full pipeline
model = Pipeline(steps=[
    ('preprocessor', preprocess),
    ('logreg', LogisticRegression(C=1.0,
    max_iter=1000,
    random_state=42))
])


df_train[categorical_cols] = df_train[categorical_cols].fillna('NA')
df_train[num] = df_train[num].fillna(0)
model.fit(df_train,y_train)
y_pred = model.predict(df_val)
acc = accuracy_score(y_val,y_pred)
print("Accuracy:", acc)

Accuracy: 0.856655290102389

/home/nastavirs/ML-Zoomcamp/.myvenv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(


### Question 5

- Let's find the least useful feature using the _feature elimination_ technique.
- Train a model using the same features and parameters as in Q4 (without rounding).
- Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
- For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?

- `'industry'`
- `'employment_status'`
- `'lead_score'`

> **Note**: The difference doesn't have to be positive.

In [55]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

scores = pd.DataFrame(columns=['eliminated_feature', 'accuracy', 'difference'])

cat_cols = ['lead_source', 'industry', 'employment_status', 'location']

num_cols = [
    'number_of_courses_viewed', 
    'annual_income', 
    'interaction_count', 
    'lead_score'
]


X_train = df_train[cat_cols + num_cols].copy()
X_val = df_val[cat_cols + num_cols].copy()

cols = cat_cols + num_cols  # all features

eliminate = [
 'industry',
 'employment_status',
 'lead_score']

for col in eliminate:
    
    # Drop feature from train and val
    X_train_drop = X_train.drop(columns=[col])
    X_val_drop   = X_val.drop(columns=[col])
    
    # Adjust categorical column list
    cat_cols_drop = [c for c in cat_cols if c != col]
    
    # Preprocessor
    preprocess = ColumnTransformer(
        transformers=[
            ('cat', OneHotEncoder(handle_unknown='ignore'), cat_cols_drop)
        ],
        remainder='passthrough'
    )
    
    # Pipeline
    model = Pipeline(steps=[
        ('preprocessor', preprocess),
        ('logreg', LogisticRegression(C=1,
        max_iter=1000,
        random_state=42))
    ])
    
    # Fit and evaluate
    model.fit(X_train_drop, y_train)
    y_pred = model.predict(X_val_drop)
    acc = accuracy_score(y_val, y_pred)
    scores.loc[len(scores)] = [col, acc, 0.856655290102389 - acc]
    print(f"Accuracy when dropping '{col}': {acc:.4f}")

/home/nastavirs/ML-Zoomcamp/.myvenv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy when dropping 'industry': 0.8396

/home/nastavirs/ML-Zoomcamp/.myvenv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy when dropping 'employment_status': 0.8328
Accuracy when dropping 'lead_score': 0.8259

/home/nastavirs/ML-Zoomcamp/.myvenv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [56]:
scores

  eliminated_feature  accuracy  difference
0           industry  0.839590    0.017065
1  employment_status  0.832765    0.023891
2         lead_score  0.825939    0.030717


### Question 6

- Now let's train a regularized logistic regression.
- Let's try the following values of the parameter `C`: `[0.01, 0.1, 1, 10, 100]`.
- Train models using all the features as in Q4.
- Calculate the accuracy on the validation dataset and round it to 3 decimal digits.

Which of these `C` leads to the best accuracy on the validation set?

- 0.01
- 0.1
- 1
- 10
- 100

> **Note**: If there are multiple options, select the smallest `C`.

In [59]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 1. Identify categorical & numerical columns
cat_cols = ['lead_source', 'industry', 'employment_status', 'location']
num_cols = [
    'number_of_courses_viewed', 'annual_income', 
    'interaction_count', 'lead_score', 'converted'
]

for C in [0.01, 0.1, 1, 10, 100]:
# 2. Preprocessing: One-hot encode categorical features
    preprocess = ColumnTransformer(
        transformers=[
            ('cat', OneHotEncoder(handle_unknown='ignore'), cat_cols)
        ],
        remainder='passthrough'   # keep numerical columns
    )

    # 3. Build full pipeline
    model = Pipeline(steps=[
        ('preprocessor', preprocess),
        ('logreg', LogisticRegression(C = C,
        max_iter=1000,
        random_state=42))
    ])


    df_train[categorical_cols] = df_train[categorical_cols].fillna('NA')
    df_train[num] = df_train[num].fillna(0)
    model.fit(df_train,y_train)
    y_pred = model.predict(df_val)
    acc = accuracy_score(y_val,y_pred)
    print(f"For C equal to {C} Accuracy is :", acc)

For C equal to 0.01 Accuracy is : 0.8122866894197952
For C equal to 0.1 Accuracy is : 0.8430034129692833

/home/nastavirs/ML-Zoomcamp/.myvenv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

For C equal to 1 Accuracy is : 0.856655290102389

/home/nastavirs/ML-Zoomcamp/.myvenv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

For C equal to 10 Accuracy is : 0.8532423208191127
For C equal to 100 Accuracy is : 0.8532423208191127